@import 'nullstyle.scss'; // Нормализация

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 75px;
    padding-right: 75px;
}
.heading {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    text-align: center;
}
.icon {
    padding: 20px;
    background-color: green;
    border-radius: 100%;
}
.input {
    padding: 20px;
    display: block;
    min-width: 400px;
    border: 1px solid green;
    border-radius: 50px;
}

.button {
    padding: 20px;
    background-color: green;
    border-radius: 50px;
    min-width: 400px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}


.header {
    padding: 20px 0;
    background-color: darkgreen;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__left {
        display: flex;
    }
    &__logo {
        margin-right: 20px;
    }
    &__sloganBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__center {
        display: flex;
    }
    &__right {
        display: flex;
        justify-content: space-between;
    }
    &__right-inner {
        &_left {
            margin-right: 10px;
        }
        &_right {

        }
    }
    &__contacts {
        display: flex;
    }
}

.first {
    padding-top: 180px;
    padding-bottom: 145px;
    background-color: green;
    &__title {
        margin-bottom: 10px;
        font-size: 42px;
        line-height: 65px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    &__subtitle{
        margin-bottom: 40px;
        color: white;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }
    &__btnsBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__btn {
        width: 95%;
        padding: 20px 40px;
        border-radius: 40px;
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
        color: gray;
        &_top{
            background-color: lightgreen;
            margin-bottom: 20px;
        }
        &_bottom{
            background-color: orange;

        }
    }
}

.advantages {
    margin-bottom: 60px;
    &__heading {
        margin-bottom: 20px;
        padding-top: 40px;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    &__item {
        margin: 10px 0px;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        display: flex;
        align-items: center;
    }
    &__icon {
        margin-right: 20px;
    }
}

.assortment {
    margin-bottom: 60px;
    &__heading {
        margin-bottom: 40px;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }
    &__item {
        background-color: rgb(211, 201, 201);
    }
    &__img {
        padding: 100px;
        background-color: gray;
    }
    &__title {
        padding: 10px;
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;
    }
    &__link {
        text-decoration: none;
        color: green;
    }
    &__text {
        padding: 0 10px 20px;
    }
}

.commerce {
    background-color: gray;
    &__container {
        padding: 60px 0;
    }
    &__heading {
        padding-bottom: 40px;
    }
    &__description {
        margin-bottom: 60px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &__text {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #d0d9de;
        &_green {
            color: green;
        }
    }
    &__requestBlock{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        line-height: 35px;
        color: #69a042;
        font-weight: 700;
        text-align: center;
        &_second {
            color: #443e3e;;
        }
    }
    &__inputsBlock{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input {
        margin-bottom: 20px;
    }
}

.imageSection {
    margin-bottom: 40px;
    &__heading {
        padding: 40px 0;
        max-width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__img {
        padding: 140px;
        background-color: gray;
    }
}

.footer {
    padding: 100px 0;
    background-color: darkgreen;
}
