:root {
    --bg-color-1: darkgreen;

    --border-color: black;

    --text-color-1: black;
    --text-color-2: rgb(188, 183, 183); 
    --text-color-3: lightgreen;

    --height-headerNav: 60px;

    --z-fixed-header: 10;
    --z-modal: 11;
}